<font size="18"><p id="notice"><%= notice %></p> </font>  



<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author_name %>
</p>

<p>
  <strong>EmailAddress:</strong>
  <%= @book.EmailAddress %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>


<p>
  <strong>Slug:</strong>
  <%= @book.slug %>
</p>

<p>
  <strong>Publishedyear:</strong>
  <%= @book.publishedyear %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.ISBN %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
